/* reset all*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body styles */
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    font-family: sans-serif;
}

/* General container */
.general-container {
background-color: darkslategray;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
color: aliceblue;
padding: 1.5em 2em;
border-radius: 10px;
}

/* style for heading */
.heading {
    text-align: center;
    margin-bottom: 1.5em;
    color: tomato;
}

/* style for both password & length container to make them being in row */
.password-container,
.length-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

label {
    margin-bottom: 5px;
}

input, .check, .slider {
    padding: 10px;
    outline: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}
/* Length container */
.slider {
 padding: 5px 10px;
}

.length {
    width: 100%;
}

/* syle for setting container */
.setting-container {
margin-bottom: 40px;
}

.check {
margin: 10px 0;
}

/* Generate Password */
.generate-password {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    font-size: 25px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.generate-password:active {
    opacity: 0.8;
    transform: scale(0.9);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}


/* Media query for smaller screen size */
@media screen and (max-width: 600px) {
    .general-container {
        padding: 1.5em 1em;
        margin: 0 1em;
    }
}